{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="movies">
    {% if user.is_authenticated %}
        <h1> Hello, {{ user.username }}! </h1>
    {% else %}
        <h1>Hello, world!</h1>
    {% endif %}

    <div id="container">
        {% for movie in movies %}
        <a href="movie/{{ movie.id }}">
            <polymer-ui-card class="movie" style="word-wrap: normal;">
                <img src="{{ movie.posters.detailed }}">
                <!--<br />
                <a href="movie/{{ movie.id }}">{{ movie.title }}</a>-->
            </polymer-ui-card>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock content %}
