{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="movies">
    <h1> In Theaters </h1>

    {% for movie in movies %}
        <div style="display:inline-block;">
            {{ movie.title }}
            <br>
            <img src="{{ movie.poster }}" style="width:{{width}};height:{{height}};">
        </div>
        <!-- movie.ratings.critics_score is -1 if no movie info....-->
        <!--{% if movie.ratings.critics_score >= 0 %}
        <myreel-movie-card
            img="{{movie.posters.detailed}}"
            movieTitle="{{movie.title}}"
            rtID="{{movie.id}}"
            width="{{width}}"
            height="{{height}}"
            {% if showButton %}
                showButton
                {% if movie.favorite %}
                    favorite
                {% endif %}
                {% if movie.watchlist %}
                    watchlist
                {% endif %}
            {% endif %}>
        </myreel-movie-card>
        {% endif %}-->
    {% endfor %}
</div>

{% endblock content %}
