{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="movies">
    <h1> In Theaters </h1>

    {% csrf_token %}
    {% for movie in movies %}
        <myreel-movie-card
            img="{{movie.posters.detailed}}"
            movieTitle="{{movie.title}}"
            rtID="{{movie.id}}"
            width="{{width}}"
            height="{{height}}"
            {% if showButton %}
                showButton
                {% if movie.favorite %}
                    favorite
                {% endif %}
                {% if movie.watchlist %}
                    watchlist
                {% endif %}
            {% endif %}>
        </myreel-movie-card>
    {% endfor %}
</div>

{% endblock content %}
