{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h2>{{ movie.title }}</h2>
<div>

    <div style="height:480px;">
        <img style="max-height:100%;max-width:100%;" src="{{ movie.posters.original }}" />
    </div>

    <form id="user_form" method="post" action="/movie/add/"
        enctype="multipart/form-data">

        {% csrf_token %}

        <input type="hidden" name="rt_id" value="{{ movie.id }}" />

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Add to Favorites" />

    </form>

</div>
<!--<myreel-movie
    img="{{movie.posters.original}}"
    movietitle="{{movie.title}}"
    width="{{width}}"
    height="{{height}}">
</myreel-movie>-->
{% endblock content %}
