{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="movies">
    {% if user.is_authenticated %}
        <h1> Hello, {{ user.username }}! </h1>
    {% else %}
        <h1>Hello, world!</h1>
    {% endif %}

    <ul>
        {% for movie in favorites %}
            <li>
                <a href="/movie/{{ movie.rt_id }}">{{ movie.title }}</a>
                <br />
                [<a href="/movie/remove/{{ movie.rt_id }}">Remove</a>]
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock content %}
