
body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
}

div.movie {
  width: 180px;
  height: 315px;
  padding: 2px;
  margin-bottom: 0px;
  display: inline-block;
}

img.detailed {
  width: inherit;
  height: 267px;
  padding: inherit;
}

div.main.content {
  padding-left: 10px;
}

.username {
  font-size: 0.75em;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

core-toolbar {
  background-color: #AF2F3B; /*#A10A17;*/
  color: #EEEEEE;
  font-size: 20px;
  font-weight: 400;
}

core-header-panel.drawer-content {
  color: #EEEEEE;
  background-color: #AF2F3B; /*#A10A17;*/
  height: 100%;
  width: 100%;
  margin: 0;
}

.movies, .movie-title {
  color: #757575;
  background-color: #EEEEEE;
}

.movies > .row {
  padding: 25px;
}

.movie-entry {
  color: #EDBB30;
  border-bottom: solid 1px #fff;
}

.fa {
  width: 30px;
  margin: 3px 15px 3px 3px;
  border-right: 1px solid #fff;
}
.login-button {
  width: 255px;
  color: #fff;
  position: relative;
  padding: 5px;
}
.fb.login-button {
  background-color: #425E9C;
}
.twitter.login-button {
  background-color: #55ACEE;
}